page-login {
  .center{
    text-align:center;
  }
  .my-background-color{
    //background-color: #222;
  }
  .item.item-input {
    background-color: transparent;
  }
  .item-input .label-md{
    //color: white; //label color
  }  
  .my-block{
    padding-left: 10%;
    padding-right: 10%;
  }
}
