page-home {
  .bg{
    background: #f3f3f3;
  }
  ion-card {
    position: relative;
    text-align: center;
    //height: 200px;
  }
  .card-title {
    position: absolute;
    top: 15%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    //text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }

  .card-subtitle {
    font-size: 1.1em;
    font-weight: bold;
    position: absolute;
    top: 45%;
    width: 100%;
  }

  .card-button {
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.7);
  }  

}
