<ion-header>
  <ion-navbar>
    <ion-title>
      ATTENDANCE
    </ion-title>
  </ion-navbar>
</ion-header>
  <!--[ngStyle]="{'background-image': 'url(' + 'assets/imgs/course/0.png' + ')'};"-->
  <ion-content class="bg">
    <!--ion-card-->
      <ion-item [ngStyle]="{
        'background': 'linear-gradient(0deg, rgba(255, 255, 255, 0.7), 
                      rgba(255, 255, 255, 0.7)), 
                      url(assets/imgs/course/'+this.pic+'.png) center center / cover no-repeat'}">
        <ion-row>
          <ion-thumbnail item-start>
            <img src="{{'assets/imgs/logoApp.png'}}">
          </ion-thumbnail>
          <div item-content>
            <h2 ion-text><b>{{course_id}}</b></h2>
            <p ion-text color="dark">{{course_name}}</p>
            <p ion-text color="dark"ion-text>จำนวนนักศึกษาทั้งหมด : {{studentCount}}</p>
          </div>
        </ion-row>
        <ion-row><hr >
          <button ion-button  block (click)="onClick_Create()">
            <div>CREATE NEW ATTENDANCE</div>
          </button>          
        </ion-row>
      </ion-item>
      
    <ion-item style="padding: 5%">
      <div item-content ion-text text-right style="font-size: 14px">
        <b>ATTENDANCE</b>
      </div>
      <div item-end ion-text text-right style="font-size: 12px">
        ASC/DESC<br><ion-toggle [(ngModel)]="isToggled"></ion-toggle>
      </div>
    </ion-item>

    <!--///////////////////////////////////////////////////////////////////-->

    <ion-list *ngIf="isToggled==false">
      <ion-item-sliding *ngFor="let item of scheduleAttendanceList ; let i = index; let odd = odd">
        <button detail-none (click)="expandItem(item)" ion-item>
          <ion-row>
          <ion-thumbnail item-start>
            <img src="{{'assets/imgs/number/' + (i+1) + '.png'}}">
          </ion-thumbnail>
          <div>
              <div style="font-size: 30px" ion-text [color]="odd ? 'tone1' : 'tone2'">
                <ion-row>
                  <ion-col>
                    <h3><ion-icon name="calendar"></ion-icon> : {{item.date | date:'dd-MM-yyyy'}}</h3>
                  </ion-col>
                  <ion-col>
                    <h3><ion-icon name="clock"></ion-icon> : {{item.date | date:'HH:mm'}}</h3>
                  </ion-col>
                </ion-row>
              </div>
              <p>เวลาสาย : {{item.lateTime | date:'HH:mm'}}  |  คะแนนสาย : {{item.lateScore}}</p>
              <ion-row>
                <ion-col>
                  <h6 ion-text color='success'>
                    <b><ion-icon name="checkmark"></ion-icon></b> มาเรียน : {{item.countOnTime+item.countLate+item.countLeave}} </h6>
                  </ion-col>
                  <ion-col>
                    <h6 ion-text color='danger2'>
                      <b><ion-icon name="close"></ion-icon></b> ขาดเรียน : {{item.countMiss}} </h6>
                  </ion-col>
                </ion-row>
            </div>
          </ion-row>
          <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
            <ion-grid><h6>
            <ion-row ion-text text-center>
              <ion-col ion-text color='primary'><ion-icon name="people"></ion-icon><br>กลุ่ม</ion-col>  
              <ion-col ion-text color='success'><ion-icon name="happy"></ion-icon><br>ตรงเวลา</ion-col>  
              <ion-col ion-text color='b-create'><ion-icon name="sad"></ion-icon><br>สาย</ion-col> 
              <ion-col ion-text color='warning'><ion-icon name="medkit"></ion-icon><br>ลา</ion-col>   
              <ion-col ion-text color='danger2'><ion-icon name="close"></ion-icon><br>ขาด</ion-col> 
            </ion-row>
              <div ion-text [color]="odd ? 'tone1' : 'tone2'" *ngFor="let g of groupList">
                <ion-row ion-text text-center>
                  <ion-col ion-text color='primary'>{{g.gid}}</ion-col>  
                  <ion-col ion-text color='success'>{{g.countOnTime}}</ion-col>  
                  <ion-col ion-text color='b-create'>{{g.countLate}}</ion-col>  
                  <ion-col ion-text color='warning'>{{g.countLeave}}</ion-col>  
                  <ion-col ion-text color='danger2'>{{g.countMissed}}/{{g.all}}</ion-col>  
                </ion-row> 
              </div>
              </h6> 
            </ion-grid>
          </expandable>
        </button>
        <ion-item-options side="right">
            <button ion-button color="primary" (click)="onClick_UpdateAttendanceLeave(item.id, item)">
              <ion-icon name="medkit" style="font-size: 25px"></ion-icon>
              Leave/Sick
            </button>
            <button ion-button color="secondary" (click)="onClick_UpdateAttendance(item.id, item)">
              <ion-icon name="qr-scanner" style="font-size: 25px"></ion-icon>
              SCAN REPEAT
            </button>
          </ion-item-options>
            
          <ion-item-options side="left">
            <button ion-button color="danger" (click)="onClick_Delete(item.id)">
              <ion-icon name="trash" style="font-size: 25px"></ion-icon>
              Delete
            </button>
            <button ion-button color="gray" (click)="onClick_Setting(item.id,item)">
              <ion-icon name="settings" style="font-size: 25px"></ion-icon>
              Setting
            </button>
          </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!--///////////////////////////////////////////////////////-->

    <ion-list *ngIf="isToggled==true">
      <ion-item-sliding *ngFor="let item of scheduleAttendanceList.slice().reverse() ; let i = index; let odd = odd">
        <button detail-none (click)="expandItem(item)" ion-item>
          <ion-row>
          <ion-thumbnail item-start>
            <img src="{{'assets/imgs/number/' + (scheduleAttendanceList.length-i) + '.png'}}">
          </ion-thumbnail>
          <div>
              <div style="font-size: 30px" ion-text [color]="odd ? 'tone1' : 'tone2'">
                <ion-row>
                  <ion-col>
                    <h3><ion-icon name="calendar"></ion-icon> : {{item.date | date:'dd-MM-yyyy'}}</h3>
                  </ion-col>
                  <ion-col>
                    <h3><ion-icon name="clock"></ion-icon> : {{item.date | date:'HH:mm'}}</h3>
                  </ion-col>
                </ion-row>
              </div>
              <p>เวลาสาย : {{item.lateTime | date:'HH:mm'}}  |  คะแนนสาย : {{item.lateScore}}</p>
              <ion-row>
                <ion-col>
                  <h6 ion-text color='success'>
                    <b><ion-icon name="checkmark"></ion-icon></b> มาเรียน : {{item.countOnTime+item.countLate+item.countLeave}} </h6>
                  </ion-col>
                  <ion-col>
                    <h6 ion-text color='danger2'>
                      <b><ion-icon name="close"></ion-icon></b> ขาดเรียน : {{item.countMiss}} </h6>
                  </ion-col>
                </ion-row>
            </div>
          </ion-row>
          <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
            <ion-grid><h6>
            <ion-row ion-text text-center>
              <ion-col ion-text color='primary'><ion-icon name="people"></ion-icon><br>กลุ่ม</ion-col>  
              <ion-col ion-text color='success'><ion-icon name="happy"></ion-icon><br>ตรงเวลา</ion-col>  
              <ion-col ion-text color='b-create'><ion-icon name="sad"></ion-icon><br>สาย</ion-col> 
              <ion-col ion-text color='warning'><ion-icon name="medkit"></ion-icon><br>ลา</ion-col>   
              <ion-col ion-text color='danger2'><ion-icon name="close"></ion-icon><br>ขาด</ion-col> 
            </ion-row>
              <div ion-text [color]="odd ? 'tone1' : 'tone2'" *ngFor="let g of groupList">
                <ion-row ion-text text-center>
                  <ion-col ion-text color='primary'>{{g.gid}}</ion-col>  
                  <ion-col ion-text color='success'>{{g.countOnTime}}</ion-col>  
                  <ion-col ion-text color='b-create'>{{g.countLate}}</ion-col>  
                  <ion-col ion-text color='warning'>{{g.countLeave}}</ion-col>  
                  <ion-col ion-text color='danger2'>{{g.countMissed}}/{{g.all}}</ion-col>  
                </ion-row> 
              </div>
              </h6> 
            </ion-grid>
          </expandable>
        </button>
        <ion-item-options side="right">
            <button ion-button color="primary" (click)="onClick_UpdateAttendanceLeave(item.id, item)">
              <ion-icon name="medkit" style="font-size: 25px"></ion-icon>
              Leave/Sick
            </button>
            <button ion-button color="secondary" (click)="onClick_UpdateAttendance(item.id, item)">
              <ion-icon name="qr-scanner" style="font-size: 25px"></ion-icon>
              SCAN REPEAT
            </button>
          </ion-item-options>
            
          <ion-item-options side="left">
            <button ion-button color="danger" (click)="onClick_Delete(item.id)">
              <ion-icon name="trash" style="font-size: 25px"></ion-icon>
              Delete
            </button>
            <button ion-button color="gray" (click)="onClick_Setting(item.id,item)">
              <ion-icon name="settings" style="font-size: 25px"></ion-icon>
              Setting
            </button>
          </ion-item-options>
      </ion-item-sliding>
    </ion-list>


  </ion-content>
