page-attendance {
  .bg-img{ 
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.7);
  }

  .backgound-image {
    position: absolute;
    background-image: url('assets/imgs/course/0.png');
    //top: 15%;
    //font-size: 2.0em;
    //width: 100%;
    //font-weight: bold;
    //color: #000000;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg{
    background: #f3f3f3;
  }
  .button-create-new {
    background-color: #fd7c31;
  }
}


.ios, .md {
  page-home {
      button {
          align-items: baseline;
      }
  }
}