page-about-me {
  .bg{
    background: #f3f3f3;
  }
  .img-60{
    width: 60%;
    height: 60%;
  }
  .img-80{
    width: 80%;
    height: 80%;
    text-align: center;
    align-items: center;
    display: block;
  }
}
